body {
    background-color: rgb(251, 255, 0);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(33.33% - 30px);
    margin-bottom: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    font-size: 24px;
    margin: 20px;
  }
  
  .card p {
    font-size: 14px;
    margin: 20px;
  }
  
  .button {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #286090;
  }
  .menu {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex; 
    justify-content: flex-start; 
  }
  
  .horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .horizontal-list li {
    margin-right: 20px;
  }
  
  .horizontal-list li:last-child {
    margin-right: 0;
  }