body {
  background-color: rgb(255, 230, 1); 
}
h1 {
  background-image: url("./images/image1.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(5, 5, 5);
  padding: 100px; 
  font-size: 100px; 
  text-align: center;
  margin-top: 1px; 
}

h1 {
  color: rgb(0, 0, 0);
}

.menu {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex; 
  justify-content: flex-start; 
}

.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td:first-child {
  font-weight: bold;
}

.horizontal-list li {
  margin-right: 20px;
}

.horizontal-list li:last-child {
  margin-right: 0;
}



.grid-item {
  background-color: #f2f2f2;
  border: 1px solid #080202;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.border-heading {
  border:  solid black;
 
}

.orange-button {background-color: rgb(254, 254, 3);
color: rgb(11, 11, 11);
border: #e8f803;
border-radius: 5px;}
h3 {
  font-size: 32px;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
img {
  display: inline-block;
  width: 30%;
  margin: 10px;
}